In [1]:
import pandas as pd

In [6]:
dim = 50
perc = 75
inst_=f'result/clsr_mc_mip.csv'

df = pd.DataFrame()
df = pd.read_csv(inst_,header=None,sep=';')

tab = pd.DataFrame()
tab = pd.concat([tab, df], ignore_index=True)
tab.columns = ['instance','bs','bb','gap','time','nodes','solved']

resume = pd.DataFrame({
    'instance':f"resume",
    'bs':tab["bs"].mean(),
    'bb':tab["bb"].mean(),
    'gap':tab["gap"].mean(),
    'time':tab["time"].mean(),
    'nodes':tab["nodes"].mean(),
    'solved':tab["solved"].sum()
     },index=["clspr_mc"]
)

tab = pd.concat([tab, resume], ignore_index=True)

tab["bs"] = tab["bs"].round(1)
tab["bb"] = tab["bb"].round(1)
tab["time"] = tab["time"].round(1)

tab

      instance       bs       bb    gap    time     nodes  solved
0    c52_1.txt   9751.6   9715.6  0.000  3600.0  473143.0       0
1    c52_2.txt  10139.2  10016.4  0.010  3600.0  753482.0       0
2    c52_3.txt   9334.0   9334.0  0.000   874.0  105441.0       1
3    c52_4.txt  10332.0  10247.6  0.010  3600.0  704008.0       0
4    c52_5.txt  11111.5  11069.6  0.000  3600.0  745398.0       0
5    c52_6.txt  11018.5  10822.1  0.020  3600.0  760532.0       0
6    c52_7.txt  10249.5  10249.5  0.000   871.8  130464.0       1
7    c52_8.txt  10513.0  10414.0  0.010  3600.0  560736.0       0
8    c52_9.txt  11470.8  11428.1  0.000  3600.0  856812.0       0
9   c52_10.txt  11561.4  11363.4  0.020  3600.0  757123.0       0
10      resume  10548.2  10466.0  0.007  3054.6  584713.9       2

In [7]:
dim = 50
perc = 75
inst_=f'result/clsr_sp_mip.csv'

df = pd.DataFrame()
df = pd.read_csv(inst_,header=None,sep=';')

tab = pd.DataFrame()
tab = pd.concat([tab, df], ignore_index=True)
tab.columns = ['instance','bs','bb','gap','time','nodes','solved']

resume = pd.DataFrame({
    'instance':f"resume",
    'bs':tab["bs"].mean(),
    'bb':tab["bb"].mean(),
    'gap':tab["gap"].mean(),
    'time':tab["time"].mean(),
    'nodes':tab["nodes"].mean(),
    'solved':tab["solved"].sum()
     },index=["clspr_mc"]
)

tab = pd.concat([tab, resume], ignore_index=True)

tab["bs"] = tab["bs"].round(1)
tab["bb"] = tab["bb"].round(1)
tab["time"] = tab["time"].round(1)

tab

      instance       bs       bb    gap    time      nodes  solved
0    c52_1.txt   9759.6   9370.1  0.040  3600.0  1160228.0       0
1    c52_2.txt  10165.6   9533.0  0.060  3600.0  1311388.0       0
2    c52_3.txt   9349.6   9177.5  0.020  3600.0   896132.0       0
3    c52_4.txt  10350.8   9832.3  0.050  3600.0  1522226.0       0
4    c52_5.txt  11150.0  10694.0  0.040  3600.0  1530537.0       0
5    c52_6.txt  11047.0  10459.3  0.050  3600.0  1762529.0       0
6    c52_7.txt  10249.5  10106.6  0.010  3600.0  1348725.0       0
7    c52_8.txt  10532.0  10210.8  0.030  3600.0  1392441.0       0
8    c52_9.txt  11470.8  11103.4  0.030  3600.1  1527923.0       0
9   c52_10.txt  11574.0  11093.0  0.040  3600.0  2620149.0       0
10      resume  10564.9  10158.0  0.037  3600.0  1507227.8       0

In [8]:
dim = 50
perc = 75
inst_=f'result/clsr_std_mip.csv'

df = pd.DataFrame()
df = pd.read_csv(inst_,header=None,sep=';')

tab = pd.DataFrame()
tab = pd.concat([tab, df], ignore_index=True)
tab.columns = ['instance','bs','bb','gap','time','nodes','solved']

resume = pd.DataFrame({
    'instance':f"resume",
    'bs':tab["bs"].mean(),
    'bb':tab["bb"].mean(),
    'gap':tab["gap"].mean(),
    'time':tab["time"].mean(),
    'nodes':tab["nodes"].mean(),
    'solved':tab["solved"].sum()
     },index=["clspr_mc"]
)

tab = pd.concat([tab, resume], ignore_index=True)

tab["bs"] = tab["bs"].round(1)
tab["bb"] = tab["bb"].round(1)
tab["time"] = tab["time"].round(1)

tab

      instance       bs       bb     gap    time      nodes  solved
0    c52_1.txt   9746.2   9746.2  0.0000   398.6   342198.0       1
1    c52_2.txt  10120.2  10055.0  0.0060  3600.0  3522566.0       0
2    c52_3.txt   9334.0   9334.0  0.0000    83.0    87938.0       1
3    c52_4.txt  10332.0  10332.0  0.0000   738.5   779781.0       1
4    c52_5.txt  11111.5  11111.5  0.0000    89.5   124896.0       1
5    c52_6.txt  11002.5  10918.4  0.0080  3600.0  4498481.0       0
6    c52_7.txt  10249.5  10249.5  0.0000    96.3   114655.0       1
7    c52_8.txt  10510.0  10510.0  0.0000  1261.2  1344647.0       1
8    c52_9.txt  11470.8  11470.8  0.0000   374.6   491893.0       1
9   c52_10.txt  11561.4  11525.5  0.0030  3600.0  3961548.0       0
10      resume  10543.8  10525.3  0.0017  1384.2  1526860.3       7